<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
  <div>
    <label>First name</label>
    <input formControlName="firstName" />
    <div class="text-danger" *ngIf="form.controls['firstName'].touched && form.controls['firstName'].invalid">
      <small *ngIf="form.controls['firstName'].errors?.['required']">Required</small>
      <small *ngIf="form.controls['firstName'].errors?.['minlength']">Min 2 chars</small>
      <small *ngIf="form.controls['firstName'].errors?.['maxlength']">Maximum 100 characters allowed.</small>
    </div>
  </div>

  <div>
    <label>Last name</label>
    <input formControlName="lastName" />
    <div class="text-danger" *ngIf="form.controls['lastName'].touched && form.controls['lastName'].invalid">
    <small *ngIf="form.controls['lastName'].errors?.['required']">Required</small>
    <small *ngIf="form.controls['lastName'].errors?.['maxlength']">Maximum 100 characters allowed.</small>
  </div>
  </div>

  <div>
    <label>Gender</label>
    <select formControlName="gender">
  <option value="">Select</option>
  <option value="M">Male</option>
  <option value="F">Female</option>
  <option value="O">Other</option>
</select>
    <div  class="text-danger" *ngIf="form.controls['gender'].touched && form.controls['gender'].invalid">
      <small *ngIf="form.controls['gender'].errors?.['maxlength']">Only 1 character allowed (M/F/O)</small>
       <small *ngIf="form.controls['gender'].errors?.['required']">Gender is required.
  </small>
    </div>
  </div>

  <div>
    <label>Mobile</label>
    <input formControlName="mobile" />
    <div class="text-danger" *ngIf="form.controls['mobile'].touched && form.controls['mobile'].invalid">
    <small *ngIf="form.controls['mobile'].errors?.['pattern']">Enter valid 10 digits</small>
    <small *ngIf="form.controls['mobile'].errors?.['maxlength']">Maximum 10 characters allowed.</small>
  </div>
  </div>

  <div>
    <label>Email</label>
    <input formControlName="email" />
    <div class="text-danger" *ngIf="form.controls['email'].touched && form.controls['email'].invalid">
    <small *ngIf="form.controls['email'].errors?.['email']">Enter a valid email address.</small>
    <small *ngIf="form.controls['email'].errors?.['maxlength']">Maximum 150 characters allowed.</small>
  </div>
  </div>

  <button type="submit">Save</button>
</form>

